node_modules/
gen/
dist/
*.sqlite
*.db
default-*.json
.env
*.mtar
mta_archives/
resources/
_out/

# IDE
.che/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# SAP
connection.properties
default-env.json
